<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sdk</key>
	<dict>
		<key>app_id</key>
		<string></string>
		<key>dmc_system_id</key>
		<integer>0</integer>
		<key>sdk_key</key>
		<string></string>
		<key>is_eu</key>
		<false/>
		<key>open_landing_page_inside_app</key>
		<false/>
	</dict>
</dict>
</plist>
